<% provide(:listen, "active") %>
<% provide(:title, "Listen") %>

<!DOCTYPE html>
<html lang="en">
  <head>

  </head>

  <!--<body>
     <div class="jumbotron">
      <div class="container">
        <h1>Wm2b Music</h1>
        <p>All songs are property of artist</p>
        
      </div>
    </div>-->
    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div><!-- .carousel-inner --> 
    <div class="container carousel-overlay party text-left">
        
   
      <h1>Wm2b Listen</h1>
        <h3>All Songs are property of artist.</h3>
        </p>
      </div>
    </div>
    </div>

</div><!-- .carousel --> 
<!--end bg-carousel-->
 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
 <%#-------------------------------------------------Facebook button group-----------------------------%>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=412994489042277";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=412994489042277";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%#-------------------------------------------------Facebook button group-------------------------------%>

<div class="col-md-8 col-md-offset-2">
<div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="true" data-auto-logout-link="false"></div>

    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><hr>

<center><h4><em>Check back soon as most of these artists are working on new material.  Coming soon is a streaming music player, but for now enjoy these videos.</em>  </h4></center><hr>
<%#---------------------------------------------------------AnchAff1 -----------------------------------%>
<center><h2>Anchors Affliction</h2></center><br>
<center><h3>Prevail</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FpXnC_6yGHw"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------AnchAff2 ------------------------------------%>
<center><h2>Anchors Affliction</h2></center><br>
<center><h3>Lost Cause</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mC1dvTtVHps"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------Ancient Elk-----------------------------------%>
<center><h2>Ancient Elk</h2></center><br>
<center><h3>The Quilt</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8Rt_LAklWEA"></iframe>
 </div>
<br><hr><br>

<%#---------------------------------------------------------GlasTake1--------------------------------------%>

<center><h2>Glass Apparatus</h2></center><br>
<center><h3>Take Her Away</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YxLtlDsJgbs"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------GlasAmj2--------------------------------------%>

<center><h2>Glass Apparatus</h2></center><br>
<center><h3>Amerijuanica</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vUUptWLXnA4"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------GlasAmj2--------------------------------------%>

<center><h2>Glass Apparatus</h2></center><br>
<center><h3>We Will Never Know</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n4LLPCy5AUI?list=PLNzsH4AXWIJOF4yAo9A27LIrIm2K6bsja"></iframe>
 </div>
<br><hr><br>

<%#---------------------------------------------------------JWeeks Because of you -------------------------%>
<center><h2>Jared Weeks</h2></center><br>
<center><h3>Because of You</h3></center><br>
<!-- 16:9 aspect ratio -->

 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2qgWWjTeCEc"></iframe>
 </div>

<br><hr><br>
<%#---------------------------------------------------------JWeeks Because of you -------------------------%>
<center><h2>Jared Weeks</h2></center><br>
<center><h3>One Goodbye</h3></center><br>
<!-- 16:9 aspect ratio -->

 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0Omx_lNqzjk"></iframe>
 </div>

<br><hr><br>
<%#---------------------------------------------------------NovaInMotiont Partners in crime ---------------%>
<center><h2>Nova In Motion</h2></center><br>
<center><h3>Partners In Crime</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/svvLdzB98oo"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------RHett -------------------------%>
<center><h2>Rhett Uhland</h2></center><br>
<center><h3>Music To Be Made</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iiXUsMtPAao"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------Silent Redemption-------------------------%>
<center><h2>Silent Redemption</h2></center><br>
<center><h3>Fury and Fight</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NfDlfqyeIqQ"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------Silent Redemption-------------------------%>
<center><h2>Silent Redemption</h2></center><br>
<center><h3>Caught</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r942OpiWlu0"></iframe>
 </div>
<br><hr><br>
<%#---------------------------------------------------------T R I P C --------------------------------------%>

<center><h2>TRIPC</h2></center><br>
<center><h3>Leelaand</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ni_tttXuqW0"></iframe>
 </div>
<br><hr><br>

<%#---------------------------------------------------------T R I P C ---------------------------------------%>

<center><h2>TRIPC</h2></center><br>
<center><h3>Chickenlooper</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3VeTMtu5Kgc"></iframe>
 </div>
<br><hr><br>

<%#---------------------------------------------------------T R I P C --------------------------------------%>

<center><h2>TRIPC</h2></center><br>
<center><h3>Gyotp</h3></center><br>
<!-- 16:9 aspect ratio -->
 <div class="embed-responsive embed-responsive-16by9">
   <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ZldHSLCCwkE"></iframe>
 </div>
<br><hr><br>
</div>
</body>

</html>
<%#---------- TEMPLATE ----------%>
<%#---------- TEMPLATE ----------%>
<%#---------- TEMPLATE ----------%>

