<% provide(:blog, "active") %>
<% provide(:title, "Blog") %>

<!DOCTYPE html>
<html lang="en">
<head>
</head>

    <!---<div class="jumbotron">
      <div class="container">
        <h1>Wm2b Music</h1>
        <p>What is cooking in the neighborhood?</p>
        
      </div>
    </div> -->

    <div id="bg-fade-carousel" class="carousel slide carousel-fade" data-ride="carousel">
<!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="slide1"></div>
        </div>
        <div class="item">
            <div class="slide2"></div>
        </div>
        <div class="item">
            <div class="slide3"></div>
        </div>
    </div><!-- .carousel-inner --> 
    <div class="container carousel-overlay party text-left">
        
   
      <h1>Wm2b Blog</h1>
        <h3>What is cookin in the neighborhood?</h3>
        </p>
      </div>
    </div>
    </div>

</div><!-- .carousel --> 
<!--end bg-carousel-->
 <!-- Core JavaScript -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
    <div class="container">
    <%#-------------------------------------------------Facebook button group-----------%>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=412994489042277";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=412994489042277";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%#-------------------------------------------------Facebook button group-----------%>
<div class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="true" data-auto-logout-link="false"></div>

    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div><hr>
<%#-----------------------------------------------Blog Header------------------%>
      <div class="blog-header">
        <h1 class="blog-title">WM2B Music Blog</h1>
        <p class="lead blog-description"></p>
      </div>
<hr>

<%#-----------------------------------------------New Blog------------------%>
      <div class="row">

        <div class="col-sm-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">Cognitive Dissonance</h2>
            <p class="blog-post-meta">February 20, 2017<a href="about"> Cory Crow</a></p>

            <p>Make sure you check out the new artists we have featured!  Most recently Ancient Elk and Nova In Motion, the former have a new Video "Partners In Crime".  Also Anchors Affliction have a 7 Song EP, called " Steadfast", and we have featured a few songs in Listen.  </p>

            <p>Today, we start a tradition, called "What Are You Listening To?", in which the artists will tell you what is their current jams.  I will lead things off myself.</p>
            

            <p><strong><ul>What Are You Listening To?"</ul></strong></p>
            <p>I've been listening to The Jesus Lizard.</p>
            <p>The Jesus Lizard was formed in 1987, in Austin, Texas.  Formed by David Yow (vocals), and Duane Dennison (guitar) formerly of Scratch Acid; one of Kurt Cobains favorite bands.  They have released six studio albums since 1990, all of them having a title containing four letters (Blue, Shot, Down, Liar, Goat, and Head).</p>
            <p>The band has an interesting dynamic.  The 4'8" Yow is known for his onstage antics, including taking off his clothes and licking fans.  The rhythm section, mnade up of David Wm. Sims (bass), and Mac McNeilly (drums) drive the band while Duane's jangly complex riffs complement David Yow's interesting singing style.  Yow has been described as "sounds like a kidnap victim trying to howl through the duct tape over his mouth; the effect is horrific."</p>Over the years, they have released some pretty memorable tunes, including some of my favorites, "Then Comes Dudley", "Puss", "Slave Ship", and "Destroy Before Reading".</p>
            <p>The band is currently on hiatus, but they have reunited for a show every few years.  Dennison has moved on to the band Tomahawk, with former Faith No More Singer Mike Patton, and ex-Helmet drummer John Stanier, and Melvins/Cows bass player Kevin Rutmanis.</p>
            


            <iframe width="560" height="315" src="https://www.youtube.com/embed/g0MgbQHh-Xg" frameborder="0" allowfullscreen></iframe>

            
            <blockquote>
              <p>"To me, rock music was never meant to be safe. I think there needs to be an element of intrigue, mystery, subversiveness. Your parents should hate it." ~ Trent Reznor ~ 
</p>
            </blockquote>
            See you next time!!!
          
          </div><!-- /.blog-post -->
<hr>
<%#-----------------------------------------------Blog Post------------------%>
          <div class="blog-post">
            <h2 class="blog-post-title">Welcome to WM2B Music!</h2>
            <p class="blog-post-meta">February 9, 2017<a href="about"> Cory Crow</a></p>

            <p>Hello, Thank you for checking out WM2B Music.</p>
            
            <p>My name is Cory Crow.  I am an aspiring musician in Colorado.  I created this place for showcasing some of Colorado's unsigned musicians.  </p>

            <p>
            I record my own ( as Cory Crow, and TRIPC)   <a href="http;//www.soundcloud.com/cccmusicality">My Soundcloud</a>, but I'm working to make THIS the new home for music from many talented artists. </p>
            <blockquote>
              <p>"Music is a higher revelation 
                  than all wisdom and philosphy. 
                  Music is the electrical soil 
                  in which the spirit lives, thinks and invents." 
                  ~ Ludwig van Beethoven ~</p>
            </blockquote>
            Check back frequently as I have some big ideas in store!  Please spread the love and if you would like to be involved please contact!
          
          </div><!-- /.blog-post -->

          

          <!--<nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>-->

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>WM2B is a site devoted to the <em>unsigned, unmined,</em> local artist. </p>
            <p>WM2B is operated by Cory Crow, in Eads, Colorado.  If you would like to be featured, please contact:<br><br> <a href="mailto:cccmusicality@gmail.com"<b>cccmusicality@gmail.com  </b><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
          </div>
          <br>
          <br>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2017</a></li>
              <li><a href="#">February 2017</a></li>
              <li><a href="#">January 2017</a></li>
              <li><a href="#">December 2016</a></li>
             
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="http://www.github.com/cccmusicality">GitHub</a></li>
              <li><a href="http://www.twitter.com/cccmusicality">Twitter</a></li>
              <li><a href="http://www.facebook.com/cccmusicality">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

</p>
</div>
</div>
